@import url("https://fonts.googleapis.com/css2?family=raleway:wght@300;400;500;600;700;800;900&display=swap");
body
{
font-family: Raleway, "sans serif";
margin: 0 2em;
}
a
{
	color: black;
	text-decoration:none;
}

/* balise fa-color*/
.fa-color 
{
	color: #0065fc; 
}
.fa-nocolor
{
	color:#f2f2f2
}

/*Header*/
.header
{
	display: flex;
	justify-content: space-between;
	margin-top: 2em;
}
.headerlogo
{
	height: 3em;
	margin-right: auto;
}

/* Header : Activités, s'inscrire*/ 

.headernavitem
{
	cursor: default;
	margin-right: 1em;
	padding: 1em 3em 0 3em;
}
.headernavitem:hover
{
	border-top: 2px solid #0065fc;
	color: #0065fc;
	padding-top: 1em;
}

/* S'inscrire*/
.headernavitem :nth-child(4)
{
	font-weight: bold;
	color: #0065fc;
}

/*zone rechercher*/
.searchheader
{
	font-size: 1.2em;
	margin-bottom: 1em;
}
.searchparagraph
{
	margin-bottom: 1em;
}
.searchform
{
	display: inline-flex; 

}
.searchicon
{
	background-color: #f2f2f2;
	padding: 1em;
	border-radius: 1em 0 0 1em; 
} 
.searchinput 
{
	font-size: 1em;
	font-weight: bold;
	font-family: "raleway", sans-serif;
	min-width: 12em;
	border-right: 0; 
	border-left: 0;
	border-top: #f2f2f2 1px solid;
	border-bottom: #f2f2f2 1px solid;
	padding: 0 1em; 
	box-sizing: border-box;
}

.searchinput::placeholder
{
	font-family: "raleway", sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #000;
}

.searchbutton
{
	font-family: "raleway", sans-serif;
	font-size: 1em;
	background-color: #0065FC;
	color: white; 
	font-weight: bold;
	border: none;
	border-radius: 0 1em 1em 0;
	padding: 0 1.5em;
	cursor: pointer;

}
/*Filtres*/ 

.filtercontainer 
{
	display: flex;
	margin-top: 2em; 
}
.filterheader 
{
	font-size: 0.8em;
	margin-right: 1em; 

} 
.filteritem 
{
	display: flex;
	align-items: center;
	margin-right: 71em;
	border: 3px solid #d9d9d9;
	border-radius: 2em;
	margin-bottom: 1em; 
	cursor: pointer; 
	font-weight: bold;
}
.filteritem:hover 
{
	transform: scale3d(1);

} 
.filtersicon
{
	background-color: #deebff; 
	border-radius: 100%; 
	height: 3.5em;
	width: 3.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -2px;
} 
.filterinfo
{
	font-size: 0.8em;
	display: flex;
}
.filterinfowrap
{
	background-color: white;
	border-radius: 100%;
	height: 1.5em;
	width: 1.5em;
	border: 2px solid #d9d9d9; 
	display: flex; 
	align-items: center;
	justify-content: center;
}
.filterinfotext
{
	display: flex;
	margin-left: 0.5em;
	margin-left: 1em;
	align-self: center;
}

.filteritemtext 
{
	display: flex;
	margin: 0 1em;
}

/*hebergement à marseille*/ 
.hostingmain,
.hostingpopular
{
	background-color: #f2f2f2;
	border-radius: 1.5em;
	padding: 2em;
}

.hosting
{display: grid;
	column-gap: 2em;
	grid-template-columns: 2fr 1fr;
	margin-top: 2em;

}
/* partie avec les 6 photos*/
.hostingmain
{
display: grid;
column-gap: 2em;
row-gap: 2em;
grid-template-columns: repeat(3, 1fr);
} 
/* Hotels */ 
.hostingheader 
{
grid-column: auto;
} 
.hostingheadertitle 
{
margin: 0;
} 
.hostingcardfigureimage 
{
    height: 6em;
    object-fit: cover;
    object-position: center bottom;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1em 1em 0 0;
} 
/* texte dans les cartes */ 

.hostingcardfiguretext 
{
	margin: 0.2em 0.7em 0 0.7em;
}
.hostingcarddescription
{
	margin: 0.2em  0.7em 0.2em 0.7em;
}
.hostingcardstars
{
	margin: 0 0.7em 0.2em 0.7em;
}