@import url("https://fonts.googleapis.com/css2?family=raleway:wght@300;400;500;600;700;800;900&display=swap");
body
{
font-family: Raleway, "sans serif";
margin: 0 2em;
}
a
{
	color: black;
	text-decoration:none;
}

/*Header*/
.header
{
	display: flex;
	justify-content: space-between;
	margin-top: 2em;
}
.headerlogo
{
	height: 3em;
	margin-right: auto;
}

/* Header : Activités, s'inscrire*/ 

.headernavitem
{
	cursor: default;
	margin-right: 1em;
	padding: 1em 3em 0 3em;
}
.headernavitem:hover
{
	border-top: 2px solid #0065fc;
	color: #0065fc;
	padding-top: 1em;
}

/* S'inscrire*/
.headernavitem:nth-child(3) 
{
	font-weight: bold;
	color: #0065fc;
}

/*zone rechercher*/
.searchheader
{
	font-size: 1.2em;
	margin-bottom: 1em;
}
.searchparagraph
{
	margin-bottom: 1em;
}
.searchform
{
	display: inline-flex; 

}
.searchicon
{
	background-color: #f2f2f2;
	padding: 2em;
	border-radius: 1em 0 0 1em; 
} 
.searchinput 
{
	font-size: 1em;
	font-weight: bold;
	font-family: "raleway", sans-serif;
	min-width: 12em;
	border-right: 0; 
	border-left: 0;
	border-top: #f2f2f2 1px solid;
	border-bottom: #f2f2f2 1px solid;
	padding: 0 1em; 
	box-sizing: border-box;
}

.searchinput:placeholder-shown
{
	font-family: "raleway", sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #000;
}

.searchbutton
{
	font-size: 1em;
	font-family: "raleway", sans-serif;
	background-color: #0065FC;
	color: #f2f2f2; 
	font-weight: bold;
	border: none;
	border-radius: 0 1em 1em 0;
}

.headersignup
{
	display: flex;
	align-items: center;
	grid-area: button;
	padding: 2rem;
	color: #0065fc;
	font-weight: 600;
}
/* balise fa-color*/
.fa-color 
{
	color: #0065fc; 
}
.fa-nocolor
{
	color:#f2f2f2
}


@media screen and (min-width: 601px) {
	.header
	{
		grid-template-columns: auto 1fr auto auto; 
		grid-template-areas: "logo. navbar button"; 
	}
.headernavlink 
{
border-top: none;
border-bottom: 3px solid #f2f2f2;
width: 50%;
}


aside
{
	float: right;
}
.footer
{
	background-color: #F2F2F2;
	width: 100%;
}
.footercolumnwrapper
{
	display: flex;
	max-width: 100%;
	width: 1440px;
	margin: auto;
	padding: 0 2rem;
	box-sizing: border-box;
}
.footercolumnwrappercolumn
{
	width: 30%;
	padding: 2rem 2rem;
}
.footercolumnwrapperlink
{
	display: block;
	margin: 1rem 0;
}
.footercolumnwrappercolumnlink:hover
{
	text-decoration: underline;

}

@media (max-width: 750px) {
.footercolumnwrapper
{
	flex-direction: column;
	padding: 2rem;
}
.footercolumnwrappercolumn
{
	width: 100%;
	padding: 0%;
	margin: 1rem 0;
}
.footercolumnwrappercolumn:first-child
{
	margin-top: 0;
}
.footercolumnwrappercolumn:last-child
{
	margin-bottom: 0;
}
.footercolumnwrappercolumntitle
{
	margin: 0;
}
.footercolumnwrappercolumnlink:last-child
{
	margin-bottom: 0;
}