body
{
	font-family: 'Raleway', "sans serif";
	margin: 0 2em;
	display: flex;
	justify-content: center;
}


a
{
	text-decoration: none;
	color: black;
	
}

/* balise fa-color pour changement couleur*/
.fa-color 
{
	color: #0065fc; 
}
.fa-nocolor
{
	color:#f2f2f2
}

/*Header*/
.header
{
	display: flex;
	justify-content: space-between;
	margin-top: 2em;
}
.headerlogo
{
	height: 3em;
	margin-right: auto;
}

/* Header : Activités, s'inscrire*/ 

.headernavitem
{
	cursor: default;
	margin-right: 1em;
	padding: 1em 3em 0 3em;
}
.headernavitem:hover
{
	border-top: 2px solid #0065fc;
	color: #0065fc;
	padding-top: 1em;
}

/* S'inscrire*/
.headernavitem :nth-child(4)
{
	font-weight: bold;
	color: #0065fc;
}

/*zone rechercher*/
.searchheader
{
	font-size: 1.2em;
	margin-bottom: 1em;
}
.searchparagraph
{
	margin-bottom: 1em;
}
.searchform
{
	display: inline-flex; 

}
.searchicon
{
	background-color: #f2f2f2;
	padding: 1em;
	border-radius: 1em 0 0 1em; 
} 
.searchinput 
{
	font-size: 1em;
	font-weight: bold;
	font-family: "Raleway", sans-serif;
	min-width: 12em;
	border-right: 0; 
	border-left: 0;
	border-top: #f2f2f2 1px solid;
	border-bottom: #f2f2f2 1px solid;
	padding: 14px 1em; 
	box-sizing: border-box;
}

.searchinput::placeholder
{
	font-family: "Raleway", sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: #000;
}

.searchbutton
{
	font-family: "Raleway", sans-serif;
	font-size: 1em;
	background-color: #0065FC;
	color: white; 
	font-weight: bold;
	border: none;
	border-radius: 0 1em 1em 0;
	padding: 14px 1.5em;
	cursor: pointer;

}
/*Filtres*/ 

.filterContainer 
{
	display: flex;
	margin-top: 2em; 
}
.filterHeader 
{
	font-size: 0.8em;
	margin-right: 1em; 

} 
.filterItem 
{
	display: flex;
	align-items: center;
	margin-right: 2em;
	border: 2px solid #d9d9d9;
	border-radius: 2em;
	margin-bottom: 1em; 
	cursor: pointer; 
	transition-duration: 0.1s;
	font-weight: bold;
}
.filterItem:hover 
{
	transform: scale(1.1);

} 
.filtersIcon
{
	background-color: #deebff; 
	border-radius: 100%; 
	height: 3.5em;
	width: 3.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -2px;
} 
.filterInfo
{
	font-size: 0.8em;
	display: flex;
}
.filterInfoWrap
{
	background-color: white;
	border-radius: 100%;
	height: 1.5em;
	width: 1.5em;
	border: 2px solid #d9d9d9; 
	display: flex; 
	align-items: center;
	justify-content: center;
}
.filterInfoText
{
	display: flex;
	margin-left: 0.5em;
	margin-left: 1em;
	align-self: center;
}

.filterItemText 
{
	display: flex;
	margin: 0 1em;
}

/*hebergement à marseille*/ 
.hostingMain,
.hostingPopular {
    background-color: #F2F2F2;
    border-radius: 1.5em;
    padding: 2em;
}

.hosting {
    display: grid;
    column-gap: 2em;
    grid-template-columns: 2fr 1fr;
    margin-top: 2em;
}

/* partie avec les 6 photos*/
.hostingMain {
    display: grid;
    column-gap: 2em;
    row-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
}
/* Hotels */ 
.hostingHeader {
    grid-column: 1/-1;
}

.hostingHeaderTitle {
    margin: 0;
}

.hostingCard {
    background-color: #fff;
    padding: 0.375em;
    border-radius: 1.25em;
    box-sizing: border-box;
    height: 100%;
}

.hostingCard:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hostingCardFigure {
    margin: 0;
}

.hostingCardFigureImage {
    height: 6em;
    object-fit: cover;
    object-position: center bottom;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    border-radius: 1em 1em 0 0;
}

./* texte dans les cartes */ 

.hostingCardFigureText {
    margin: 0.2em 0.7em 0 0.7em;
}

.hostingCardDescription {
    margin: 0.2em 0.7em 0.2em 0.7em;
}

.hostingCardStars {
    margin: 0 0.7em 0.2em 0.7em;
}

.hostingAfficherPlus {
    font-weight: bold;
}
/*Les plus populaires*/

.hostingCardFigureText {
    margin: 0.2em 0.7em 0 0.7em;
}

.hostingCardDescription {
    margin: 0.2em 0.7em 0.2em 0.7em;
}

.hostingCardStars {
    margin: 0 0.7em 0.2em 0.7em;
}

.hostingAfficherPlus {
    font-weight: bold;
}


/* Partie avec les trois cartes populaire */

.hostingPopular {
    display: grid;
    row-gap: 2em;
    align-items: start;
    grid-template-rows: auto repeat(3, 1fr);
}

.hostingPopularTitle {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.hostingPopularWrap {
    display: flex;
    align-items: stretch;
    height: 100%;
    overflow: auto;
}

.hostingPopularWrapImg {
    position: relative;
    min-height: 100%;
    width: 33%;
    min-width: 33%;
    max-width: 33%;
}

.hostingPopularCardImg {
    border-radius: 1em 0 0 1em;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popularWrapContent {
    display: flex;
    flex-direction: column;
}

.espaceEntreDeux {
    flex: 1;
}


/*Activites*/ 

.sectionactivites
{
	margin: 4em 0; 
	display: grid; 
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto 7em 1em 1em 1em 1em 7em; 
	row-gap: 2em;
	column-gap: 2em;
}

.activitesheader
{
	grid-column: 1/-1;
	box-sizing: border-box;
}

.activitescard
{
	display: flex;
	flex-direction: column;
	border-radius: 1em;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
}

.activitescardimg
{
	object-fit: cover;
	border-radius: 1em 1em 0 0;
	height: 75%;
	width: 100%;
}

.vieuxportimggrd
{
	height: 90%;
}

.pomeguesimg
{
	height: 80%;
}

.Frioulimg
{
	height: 70%;
}

.activitescardcaption
{
	border-radius: 0 0 1em 1em; 
	padding-left: 1em;
	font-weight: bold;
}


/*Lignes et colonnes entre les images*/ 

#img1 
{
	grid-column: 1/2;
	grid-row: 2/8;
}

#img2
{
	grid-column: 2/3;
	grid-row: 2/6;
}

#img3
{
	grid-column: 2/3;
	grid-row: 6/8;
}

#img4
{
	grid-column: 3/4;
	grid-row: 2/8;
}

#img5
{
	grid-column: 4/5;
	grid-row: 2/5;

}

#img6
{
	grid-column: 4/5;
	grid-row: 5/8;
}



/* Footer*/
.footer
{
	background-color: #f2f2f2;
	display: flex;
	justify-content: space-between;
}

.apropos 
{
	display: flex;
	flex-direction: column;
	width: 34%;
	margin-left: 1em;
}

.noshebergements
{
display: flex;
flex-direction: column;
width: 34%;
}

.assistance
{
	display: flex;
	flex-direction: column;
	width: 34%
}

.flexitem 
{
	margin-bottom: 1em;
}


